.high-lights{
    color: orange;
}

h1 {
    font-size: 80px;
}
body{
    margin: 0%;
    font-family: 'Noto Sans TC', sans-serif;
}
.button{
    box-shadow: 7px 5px 40px rgb(238, 91, 65);
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 35px;
    background-image: linear-gradient(rgb(255, 123, 0), orange);
    color: whitesmoke;
    font-size: 14pt;
}


.width{
    display: flex;
    
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
    
}
#about-size{
    font-size: 30pt;
    
    margin-top: 10%;
}
.devided-section{
    margin: 0%;
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.center-alingment{
    padding-top: 5%;
    text-align: center;
}
#pragraph-box{
    padding-left: 30%;
    padding-right: 30%;
    color: gray;
}
h2{
    margin: 0pt;
    color: gray;
}
.width-img{
    width: 95%;
}
.recipe-flex{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.box{
    box-shadow: 7px 5px 40px gray;
    padding-top: 16px;
    padding-right: 2px;
    padding-bottom: 52px;
    padding-left: 15px;
    margin: 3%;
    border-radius: 30px;
}
p{
    padding-right: 10px;
}
.people-counting-flex{
    display: flex;
    box-shadow: 7px 5px 40px gray;
    padding: 1px 80px;
    margin: 8%;
    border-radius: 30px;
    justify-content: center;
}
.fonts-size{
    font-size: 36pt;
    margin-bottom: 0%;
}
.container{
    padding-top: 15px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 150px;
}
#black-bakground
{
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding: 60px 30px;
    color: oldlace;
}